.container-link {
    width: 101px;
    height: 40px;
    top: 220px;
    left: 41px;
    gap: 0px;
    border-radius: 4px 4px 4px 4px;
    opacity: 0px;
    
    background-color: var(--dsc-color-bg-secondary);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-link :hover {
    animation-duration: 0ms;
}

.title-link {
    width: 65px;
    height: 24px;
    top: 228px;
    left: 59px;
    gap: 0px;
    opacity: 0px;

    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;

    color: var(--dsc-color-font-secondary);
}